<div class='clearfix'>
{% assign sorted = site.data.past-members | sort: "leavedate" %}
{% for member in sorted %}
  {% if member.role | upcase contains "student"}
    <div class='member-short'>
       <p class='member-name'>
       {% if member.url %}
          <a href="{{ member.url }}">
          {{ member.name }} &rarr; {{member.leavedate}}
          </a>
       {% else %}
          {{ member.name }} &rarr; {{member.leavedate}}
       {% endif %}
       </p>
    </div>
  {% endif %}
{% endfor %}
</div>
